
canvas {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.stationen-container, .datum, .stelle {
  width: 100%;
}



@media (min-width: 768px) {
    .datum {
      width: 33%;
    }
    .stelle {
      width: 66%;
    }
  }